.App{
  background-color: #F5F3FB;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main{
  width: 85%;
}
.App .head{
  padding-top: 2rem;
  margin-left: 2rem;
  color: dodgerblue;
}
.App .head span{
  color: rgb(77, 77, 77);
  font-weight: 400;
}
.App .head .location{
  color: grey;
}